.upload-document{
  display: flex;
  flex-direction: column;
  gap: 16px;

  .text{
    font-size: 16px;
  }

  .file-box{
    display: flex;
    flex-direction: column;
    gap: 16px;

    .title{
      font-size: 16px;
      font-weight: bold;
    }
  }
}
